.Form {
    display: flex;
    flex-direction: row;
    padding: 2px;
    width: 70%;
    justify-content: center;
}

.Input {
    flex-grow: 2;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
}

.Input:focus {
    outline: none;
}

.Button {
    border: 1px solid #FBE0DC;
    background-color: #FBE0DC;
    color: #FF868E;
    border-radius: 10px;
    position: relative;
    left: -50px;
    margin: 5px;
    width: 40px;
    height: 40px;
    align-self: center;
}

.SearchItemImg {
    width: 20px;
    height: auto;
}